/* styles/nprogress.css */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #ff0202ff !important; /* Tailwind blue-500 or your preferred color */

  position: fixed;
  z-index: 1200 !important;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px !important;
}

/* Optional: Fade effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px #3b82f6,
    0 0 5px #3b82f6;
  opacity: 1;

  transform: rotate(3deg) translate(0px, -4px);
}
